extends layout

block content
    header
    .container-fluid
        .row
            projects
    .alertify-logs

    script(type='riot/tag', src='tags/projects.tag')
    script(type='riot/tag', src='tags/header.tag')
    script(type='text/javascript').
        vex.defaultOptions.className = 'vex-theme-default'
        alertify.logPosition('bottom right')

        fetch('/slack').then(function (response) {
            return response.json();
        }).then(function (slackdata) {
            if (!isNotEmpty(slackdata['client_secret'], slackdata['client_id'])) {
                msg = Messenger().post({message: 'Missing slack ids - will not connect to it', type: 'error'})
            } else {
                localStorage.secret = slackdata['client_secret'];
                localStorage.clientId = slackdata['client_id'];
            }
        });

        if (window.location.search != "") {
            var pairs = window.location.search.slice(1).split('&');
            var strParams = {};
            pairs.forEach(function (pair) {
                pair = pair.split('=');
                strParams[pair[0]] = decodeURIComponent(pair[1] || '');
            });
            var params = JSON.parse(JSON.stringify(strParams));
            if (typeof params.code == 'string' && params.code.length > 0) {
                localStorage.setItem('code', params.code);
            }
        }

        if (hasAuthData()) {
            doAuth()
        }

        fetch('/projects').then(function (response) {
            return response.json();
        }).then(function (projects) {
            riot.mount('*', {projects: projects});
        });

        function doAuth() {
            if (typeof localStorage.token == 'undefined' && typeof localStorage.code !== 'undefined') {
                fetch('https://slack.com/api/oauth.access?client_id=' + localStorage.clientId + '&client_secret=' + localStorage.secret + '&code=' + localStorage.code, {
                    method: 'GET'
                }).then(function (response) {
                    return response.json();
                }).then(function (json) {
                    if (json.ok) {
                        localStorage.token = json['access_token'];
                        riot.update()
                    } else {
                        msg = Messenger().post({message: 'Could not authenticate', type: 'error'})
                        delete localStorage.code
                        location.search = ''
                    }
                })
            }
        }

        function hasAuthData() {
            return isNotEmpty(localStorage.secret, localStorage.clientId) && localStorage.code && localStorage.code.length > 0
        }

        function isNotEmpty(val1, val2) {
            return val1 && val2 ? (val1.length > 0 && val2.length > 0) : false
        }