doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/radiobox.min.css')
    link(rel='stylesheet', href='/stylesheets/messenger.css')
    link(rel='stylesheet', href='/stylesheets/messenger-theme-ice.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/css/vex-theme-default.min.css')
    style.
      .vex.vex-theme-default {
        padding-top: 350px !important;
      }
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/3.8.1/riot+compiler.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/alertifyjs-alertify.js/1.0.11/js/alertify.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.0.0/js/vex.combined.min.js')
  body
    block content
