html, body {
    width: 100%;
    height: 100%;
}

#side-bottom {
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.menu-list > li > a {
    padding: 15px 10px;
}

.menu-list>li>a>button {
    float: right;
    margin-top: -8px;
    color: #000;
}

.menu-list > .active > a,
.menu-list > .active > a:hover,
.menu-list > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.menu-list > label {
    padding: 15px 20px;
    display: inline-block;
}
.menu-list > label > input[type="radio"] {
    margin-right: 5px;
}

/*
 * Main content
 */

.main {
    padding: 20px;
    background: url('/images/bender.jpg') no-repeat bottom right;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
